@font-face {
    font-family: 'Montserrat';
    src: url('./fonds/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Prosto';
    src: url('./fonds/ProstoOne-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

